.App {
  text-align: center;
}

body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.circle {
  align-items: center;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  border-radius: 50%;
}

.circleTraced {
  background-color: #ff8066;
}

.circleTouched {
  background-color: #fc6c85;
}
